<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>
  <body>


 <table align="center">
     <tr>
                <tr>
                 <div>

                     <marquee  behavior="scroll" direction="left" >My Attitude is Depend upon ur Attitude--@Lucky Lusan </marquee>

                 </div>

            </tr>
     </tr>
     <br>

        <tr>
            <th>
            <table align="center" width="600" >
                      <td>  <div >


                                <a class="btn btn-primary" href="{% url 'home' %}">
                        Home
                          </a>



                      </div>
                     </div>

                    </td>

            <td>  <div class="dropdown show">
                                <a class="btn btn-success" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                          </a>


                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="">Developed By</a>
                        <a class="dropdown-item" href="">About Developer</a>

                      </div>
                     </div>

                    </td>

                 <td>  <div class="dropdown show">
                                <a class="btn btn-danger" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       User
                          </a>


                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="">Registration</a>
                        <a class="dropdown-item" href="">User_Login</a>
                        <a class="dropdown-item" href="#">Forgot</a>
                      </div>
                     </div>

                    </td>



            <td>  <div class="dropdown show">
                                <a class="btn btn-dark" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Admin
                          </a>


                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="">Registration</a>
                        <a class="dropdown-item" href="">Admin_Login</a>
                        <a class="dropdown-item" href="#">Forgot</a>
                      </div>
                     </div>

                    </td>

                <td>  <div class="dropdown show">
                                <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help
                          </a>


                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">How to Register?</a>
                        <a class="dropdown-item" href="#">How to Login?</a>

                        </div>
                     </div>

                    </td>

              <td >  <div class="dropdown show">
                                <a class="btn btn-warning" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Contact us
                          </a>


                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Face Book</a>
                        <a class="dropdown-item" href="#">e-mail</a>

                      </div>
              </div>

                    </td>

                <td>  <div >


                                <a class="btn btn-primary" href="{% url 'home' %}">
                        Logout
                          </a>



                      </div>
                     </div>

                    </td>
                <tr><td></td></tr>
            </table>

                   </th>
        </tr>

<tr>
    </table>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>












